@model HotelBookingProject.WebUI.Models.SelectedHotelViewMode;

@{
    ViewData["Title"] = "SelectedHotel";
}

<div class="container mt-4">
    <h2 class="mb-3">@Model.Hotel.Name</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content(Model.Images.Where(i => i.Id == Model.Hotel.Id).Select(p => p.Path).First())" alt="Hotel Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h3>Description</h3>
            <p>@Model.Hotel.Description</p>
            <ul class="list-unstyled">
                <li><strong>Number of Floors:</strong> @Model.Hotel.NumberOfFloors</li>
                <li><strong>City:</strong> @Model.City.Name</li>
                <li class="d-flex justify-content-between">
                    <div>
                        <strong>Address:</strong> @Model.Hotel.Street, @Model.Hotel.HouseNumber
                    </div>
                    <div id="map" style="width: 300px; height: 300px;"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="mt-5">
        <h3>Rooms</h3>
        @if (Model.HotelRooms != null && Model.HotelRooms.Any())
        {
            <div class="row">
                @foreach (var room in Model.HotelRooms)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Room @room.Id</h5>
                                <p class="card-text"><strong>Description:</strong> @room.Description</p>
                                <p class="card-text"><strong>Price per night:</strong> @room.Price $</p>
                                <p class="card-text"><strong>Features:</strong> @string.Join(", ", $"Has wifi:{room.HasWiFi}")</p>
                                <a href="@Url.Action("BookRoom", "Booking", new { roomId = room.Id })" class="btn btn-primary">Book</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No rooms available.</p>
        }
    </div>
</div>

<script>
    function initMap() {
        var mapOptions = {
            center: new google.maps.LatLng(@Model.Hotel.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture), @Model.Hotel.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture)),
            zoom: 18
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO70OxnCSF0SFQQnrOEMmVnOF59uMwixQ&callback=initMap" type="text/javascript"></script>