@using Microsoft.AspNetCore.Identity
@using HotelBookingProject.Domain.Entities;
@using Microsoft.AspNetCore.Mvc.Localization;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer Localizer

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-controller="Admin" asp-action="Dashboard">@Localizer["Admin"]</a>
        </li>
    }
    @if (User.IsInRole("User"))
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-controller="Cabinet" asp-action="PersonalCabinet">Cabinet</a>
        </li>
    }
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Localizer["Account"] - @User.Identity!.Name
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                    @Localizer["Logout"]
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" id="register" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" id="login" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
    </li>
}
</ul>
