@using Microsoft.AspNetCore.Mvc.Localization;

@model HotelBookingProject.WebUI.Models.HotelListViewModel;

@inject IViewLocalizer Localizer

<head>
    <link rel="stylesheet" href="~/css/hotelList.css">
</head>

@foreach (var hotel in Model.Hotels)
{
    <div class="hotel-info">
        <img src="@Url.Content(Model.Images.Where(x => x.Id == hotel.ImageId).Select(x => x.Path).First())" alt="Hotel Image" class="hotel-image" />
        <div class="content-wrapper">
            <div class="text-content">
                <h4>@hotel.Name</h4>
                <p>@hotel.Description</p>
            </div>
            <a class="see-more-button" asp-controller="Hotel" asp-action="SelectedHotel" asp-route-hotelId="@hotel.Id">@Localizer["More"]</a>
        </div>
    </div>
}