@using Microsoft.AspNetCore.Mvc.Localization;

@model HotelBookingProject.WebUI.Models.IndexViewModel;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css">
</head>

<div class="sidebar">
    <h3>@Localizer["Cities"]</h3>
    <div class="list-group">
        @foreach (var item in Model.Cities)
        {
            <a class="list-group-item list-group-item-action" data-city-id="@item.Id" onclick="selectElement('@item.Id')">@item.Name</a>
        }
    </div>
</div>

<div class="content">
    <partial name="HotelList" model="new HotelBookingProject.WebUI.Models.HotelListViewModel(){Hotels = Model.Hotels, Images = Model.Images}" />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/index.js"></script>

<script>
    var hotelUrl = '@Url.Action("GetHotelsByCityId", "Home")';
</script>   